#RomInput {
    background-image: url('searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#RomTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#RomTable th, #RomTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#RomTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#RomTable tr.header, #RomTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

onebutton ul { list-style: none; height: 40px; padding: 0; background: #f4f4f4; border-radius: 5px; border: 1px solid #e0e0e0; width: 90px; }

onebutton li { width: 89px; float: left; border-right: 1px solid #e0e0e0; height: 40px; }

onebutton li:first-child a { border-radius: 5px 0 0 5px; }

onebutton li:last-child a { border-radius: 0 5px 5px 0; }

onebutton ul a { line-height: 1; font-size: 11px; color: #676767; display: block; text-align: center; padding-top: 6px; height: 34px; }

onebutton ul a:hover, header ul a:focus { color: #675C5C; font-weight: bold; }

onebutton ul a:active { background-color: #f0f0f0; }

onebutton strong { color: #222; font-weight: 700; }

onebutton ul li { border-right: none; width: 89px; }

onebutton ul a strong { font-size: 14px; display: block; color: #222; }
